[Desktop Entry]
Version=1.0
Name=Powershell
Comment=Powershell
Exec=pwsh %U
Terminal=true
Type=Application
Icon=terminal
Categories=System;
StartupWMClass=Powershell
StartupNotify=true
