[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Terminal placeholder application
Exec=terminal
Terminal=true
Type=Application
Icon=terminal
Categories=System;
StartupWMClass=terminal
StartupNotify=true
X-AppImage-Version=1.0.0