[Desktop Entry]
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;
Exec=terminal
Icon=terminal
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
StartupWMClass=terminal

